{% load static %}


<!DOCTYPE html>
<html lang="es">



<head>
    <meta charset="UTF-8">
    <title>Asistencias de Caja</title>
    <link rel="stylesheet"
      href="{% static 'css/styles.css' %}">
</head>

<body>

    <h1 class="titulo">
    ASISTENCIAS DE CAJA
</h1>
<div class="kpi-container">

    <div class="kpi-card">

        <div class="kpi-titulo">
            DÍAS OPERADOS
        </div>

        <div class="kpi-valor">
            {{ dias_operados }}
        </div>

    </div>

    <div class="kpi-card">

        <div class="kpi-titulo">
            RESPONSABLES ACTIVOS
        </div>

        <div class="kpi-valor">
            {{ responsables_activos }}
        </div>

    </div>

    <div class="kpi-card">

        <div class="kpi-titulo">
            OPERADOR PRINCIPAL
        </div>

        <div class="kpi-valor">
            {{ operador_principal }}
        </div>

    </div>

</div>
    <div class="card">

    <table class="tabla-asistencia">

        <thead>

            <tr>

                <th>Fecha</th>

                <th>Responsable</th>

                <th>Día</th>

            </tr>

        </thead>

        <tbody>

            {% for fila in registros %}

            <tr>

                <td>
                    {{ fila.fecha|date:"d/m/Y" }}
                </td>

                <td>
                    {{ fila.responsable }}
                </td>

                <td>
                    {{ fila.dia }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>
</body>

</html>