{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Control de Caja</title>

    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="logo-container">

    <img
        src="{% static 'images/Logo24g.png' %}"
        alt="Logo"
        class="logo"
    >

    <div class="usuario-activo">

    Usuario:
    <strong>{{ request.user.username }}</strong>

    <form action="{% url 'logout' %}" method="post">

    {% csrf_token %}

    <button
        type="submit"
        class="btn-logout">

        CERRAR SESIÓN

    </button>

</form>

</div>


</div>

<h1 class="titulo">CONTROL DE CAJA</h1>

    <!-- KPI PRINCIPAL -->

    <div class="card">
        <h2>RESPONSABLE</h2>
    
    <div class="responsable-premium">
        <div class="menu-superior">

    <a
    href="{% url 'asistencias' %}"
    target="_blank"
    class="btn-menu"
>
        ASISTENCIAS DE CAJA
    </a>

</div>

    <div class="responsable-nombre">

        {{ operador }}

    </div>

    <div class="responsable-fecha">

        {{ fecha|date:"d/m/Y" }}

    </div>
</div>
    <div class="kpi-hero">
        
      <div class="hero-titulo">
            TOTAL DEL DÍA
        </div>
            
        <div class="hero-valor">
            {{ total_dia }}
        </div>
        
    </div>

<!-- KPI SECUNDARIOS -->

<div class="kpi-container">
    <div class="kpi-card">

    <div class="kpi-titulo">
        SALDO FINAL
    </div>

    <div class="kpi-valor">
        {{ saldo_final_uyu }}
    </div>

</div>
    <div class="kpi-card">

        <div class="kpi-titulo">
            MERCADO LIBRE
        </div>

        <div class="kpi-valor">
            {{ mercado_libre }}
        </div>

    </div>

    <div class="kpi-card">

        <div class="kpi-titulo">
            DISTRIBUCIÓN
        </div>

        <div class="kpi-valor">
            {{ distribucion }}
        </div>

    </div>

    <div class="kpi-card">

        <div class="kpi-titulo">
            TOTAL LOCAL
        </div>

        <div class="kpi-valor">
            {{ total_local }}
        </div>

    </div>

    <div class="kpi-card">

        <div class="kpi-titulo">
            LOCAL EFECTIVO
        </div>

        <div class="kpi-valor">
            {{ local_efectivo }}
        </div>

    </div>

</div>

</div>

</div>
    <div class="grid">

        <div class="card">
            <h2>Caja UYU</h2>

            <div class="fila">
                <span>Saldo Inicial</span>
                <strong>{{ saldo_inicial_uyu }}</strong>
            </div>
        </div>

        <div class="card">
            <h2>Caja USD</h2>

            <div class="fila">
                <span>Saldo Inicial</span>
                <strong>{{ saldo_inicial_usd }}</strong>
            </div>
        </div>
        <div class="card">
            <h2>Cierre UYU</h2>

            <div class="fila">
                <span>Saldo Final</span>
                <strong>{{ saldo_final_uyu }}</strong>
            </div>

            <div class="fila">
                <span>Sobrante</span>
                <strong>{{ sobrante_uyu }}</strong>
            </div>

            <div class="fila">
                <span>Faltante</span>
                <strong>{{ faltante_uyu }}</strong>
            </div>
        </div>

        <div class="card">
            <h2>Cierre USD</h2>

            <div class="fila">
                <span>Saldo Final</span>
                <strong>{{ saldo_final_usd }}</strong>
            </div>

            <div class="fila">
                <span>Sobrante</span>
                <strong>{{ sobrante_usd }}</strong>
            </div>

            <div class="fila">
                <span>Faltante</span>
                <strong>{{ faltante_usd }}</strong>
            </div>
        </div>

        <div class="card observacion">
            <h2>Observación</h2>

            <p>{{ observacion|default:"Sin observaciones" }}</p>
        </div>

    </div>

</body>

</html>