{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Ingreso CajaWeb</title>

    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">

</head>

<body>

    <div class="login-container">

        <img
            src="{% static 'images/Logo24g.png' %}"
            class="logo"
            alt="Logo">

        <h1 class="titulo">
            CAJAWEB
        </h1>

        {% if form.errors %}

<div class="mensaje-error">

    Usuario o contraseña incorrectos.

    <br><br>

    Inténtelo nuevamente o comuníquese con el área administrativa.

</div>

{% endif %}

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn-menu">

                INICIAR SESIÓN

            </button>

        </form>

    </div>

</body>

</html>